.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.palette{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.palette button {
  margin-top: 10px;
}

h1 {
  background-color: rgba(235, 235, 235, 0.432);
  padding: 0 10px;
  border-radius: 10px;

}